/* 1. Fuente externa primero */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* 2. Cargar Tailwind */
@import "tailwindcss";

/* 3. Configurar el tema */
@theme {
    --font-sans: "Google Sans", sans-serif;
    --font-serif: "Google Sans", sans-serif;
}